
.comment-form {
  display: flex;
  flex: 1;
  padding: 10px 0px;

  border-top: 1px solid var(--gray-border);
}

.comment-form__avatar {
  width: 50px;
  height: 50px;
  background: var(--gray-border);
  margin-right: 15px;
}

.comment-form__field {
  display: flex;
  flex: 1;
  height: 70px;
  padding: 10px;

  border: 1px solid var(--gray-border);
  outline: none;
  
  color: var(--gray-header);
  font-size: 14px;
  
  resize: none;
}